@import "main.less";

@Padding: 10px;

@containerSize: (((@BoxSize + (@LinkBorderSize * 2)) * 3));

nav {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
	//margin: -(@containerSize / 2) auto auto;
	padding: @Padding;
	max-width: @containerSize;
	max-height: @containerSize;

	@media (max-width: @containerSize) {
		max-height: 100%;
	}
}

// absolute method {{{
//.navlink {
//	position: absolute;
//	border: @LinkBorderSize solid black;
//	width: @BoxSize;
//	height: @BoxSize;
//	text-align: center;
//}
//
//.top () { top: 0px; }
//.left () { left: 0px; }
//.right () { right: 0px; }
//.bottom () { bottom: 0px; }
//
//#navContact {
//	.top;
//	.left;
//}
//
//#navDoc {
//	.top;
//	.right;
//}
//#navAbout {
//	top: 50%;
//	margin: -(@BoxSize / 2) auto auto;
//}
//#navPhp {
//	.bottom;
//	.left;
//}
//#navPort {
//	.bottom;
//	.right;
//}
// end absolute method }}}

.navlink {
	height: @BoxSize;
	position: static;

	@media (max-width: @containerSize) {
		float: none!important;
		margin: @LinkBorderSize auto;
	}

	&.navContact {
		float: left;
	}
	&.navDoc {
		float: right;
	}
	&.navPhp {
		float: left;
	}
	&.navPort {
		float: right;
	}
	&.navAbout {
		clear: both;
		margin: auto;
	}

}
